@charset "UTF-8";

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: black;
}

/* Nav codes*/

li, a, button{
    font-size: 18px;
    text-decoration: none;
    color: white;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    background-color: brown;
}

.logo{
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.link{
    list-style: none;
}
.link li{ 
    display: inline-block;
    padding: 0px 30px;
}


.link li a:hover{
    color: rgb(0, 0, 0);
    
}


button{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: blue;
    border-radius: 60px;
}

button:hover{
    background-color: rgb(18, 18, 25);
}